body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  border: none;
  padding: 0;
  font: inherit;
  background: none;

}

input{
  border: none;
 
  outline: none;
}

ul{
  list-style: none;
}