.nav-bar {
    background-color: rgb(29, 28, 28);


}

.nav_links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;



}

.nav_links li {
    height: 80px;

}


.nav_links a {
    color: white;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: 0.5s;
    z-index: 0;
    
    border-left: solid 2px black;
    

}


.nav_links li:first-child a:hover {
    background-color: rgb(29, 28, 28);
    text-decoration: none;

}

.nav_links a:hover {
    background-color: rgb(71, 70, 70);
    text-decoration: underline;
    transform: translateX(5px);
}

.nav_links li:last-child {
    margin-left: auto;

}
.nav_links li:first-child a {
    transform: none;
}
.nav_links li:last-child a {
    margin-left: auto;
    color: rgb(245, 36, 36);
    border-left: solid 2px black;
    transform: none;

}

.nav_links li:last-child a:hover {
    background-color: rgb(146, 29, 29);

}

.nav_links li:first-child {
    width: 20%;

}